body, ul, li  {
  margin: 0;
  padding: 0;
}
nav {
  background-color: #4CAF50; 
  color: white;
  padding: 10px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.login_register {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login_register label {
  display: block;
  margin-bottom: 8px;
}

.login_register input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.login_register button {
  background-color: #4CAF50; 
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login_register button:hover {
  background-color: #45a049;
}


.login_register button[type="submit"] {
  margin-left: 0; 
}

h1 {
  color: #333;
  text-align: center;
}
.form_add{
  text-align: center;
    margin-bottom: 20px;
}
.form_not_add {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  text-align: center;
}

table {
  width: 900px;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background-color: #4caf50;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}

a {
  color: #007BFF;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

